<!DOCTYPE html>
<html>
<head>
    <title>STV</title>
    <meta charset="utf-8" />
    <meta name="description" content="STV" />
    <meta name="keywords" content="HTML, CSS, JS, Bio, Gallery" />
    <meta name="author" content="Stenli Vasilev" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")

    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
