@model citb517_2.Models.CommentModel

@{
    ViewBag.Title = "Home Page";
}

<header>
    <div class="parallax bg1"
         ,
         style="
          mask-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1)
          );
          -webkit-mask-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1)
          );
          margin-bottom: 50px;
        "></div>
    <div class="caption">
        <span class="border">Stenli Vasilev</span>
    </div>
</header>

<div id="bio" class="content" style="margin-top: 50px; margin-bottom: 50px">
    <div class="containerPfp">
        <img id="pfp"
             class="img-fluid d-block mx-auto"
             src="~/resources/18622628_146041712604173_5023056421634447578_n.jpg"
             alt="Profile pic" />
    </div>
    <hr />

    <h4>Lorem ipsum dolor sit amet</h4>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nisi
        justo, convallis id imperdiet et, congue id ex. Donec eu dapibus mi.
        Suspendisse fermentum tempor ligula, sit amet finibus odio consectetur
        at. In id elit nec massa aliquet tempus eget quis erat. Fusce dolor
        tortor, suscipit vel rutrum eget, tincidunt nec odio. Ut ac pellentesque
        ligula. Morbi ac sapien vel libero tincidunt ultrices ut eu urna. Fusce
        varius nunc augue, a maximus sapien hendrerit sit amet. Maecenas lacus
        erat, imperdiet nec lacinia sit amet, scelerisque eu mauris. Donec a
        tincidunt odio. Suspendisse potenti. Praesent ornare dui ex, eu
        vulputate justo pulvinar non. Aenean nulla nulla, iaculis sagittis
        euismod nec, auctor sed orci. Duis tristique eu arcu vitae placerat.
        Vivamus dictum suscipit vehicula. Aliquam eget erat eget arcu faucibus
        aliquam.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nisi
        justo, convallis id imperdiet et, congue id ex. Donec eu dapibus mi.
        Suspendisse fermentum tempor ligula, sit amet finibus odio consectetur
        at. In id elit nec massa aliquet tempus eget quis erat. Fusce dolor
        tortor, suscipit vel rutrum eget, tincidunt nec odio. Ut ac pellentesque
        ligula. Morbi ac sapien vel libero tincidunt ultrices ut eu urna. Fusce
        varius nunc augue, a maximus sapien hendrerit sit amet. Maecenas lacus
        erat, imperdiet nec lacinia sit amet, scelerisque eu mauris. Donec a
        tincidunt odio. Suspendisse potenti. Praesent ornare dui ex, eu
        vulputate justo pulvinar non. Aenean nulla nulla, iaculis sagittis
        euismod nec, auctor sed orci. Duis tristique eu arcu vitae placerat.
        Vivamus dictum suscipit vehicula. Aliquam eget erat eget arcu faucibus
        aliquam.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nisi
        justo, convallis id imperdiet et, congue id ex. Donec eu dapibus mi.
        Suspendisse fermentum tempor ligula, sit amet finibus odio consectetur
        at. In id elit nec massa aliquet tempus eget quis erat. Fusce dolor
        tortor, suscipit vel rutrum eget, tincidunt nec odio. Ut ac pellentesque
        ligula. Morbi ac sapien vel libero tincidunt ultrices ut eu urna. Fusce
        varius nunc augue, a maximus sapien hendrerit sit amet. Maecenas lacus
        erat, imperdiet nec lacinia sit amet, scelerisque eu mauris. Donec a
        tincidunt odio. Suspendisse potenti. Praesent ornare dui ex, eu
        vulputate justo pulvinar non. Aenean nulla nulla, iaculis sagittis
        euismod nec, auctor sed orci. Duis tristique eu arcu vitae placerat.
        Vivamus dictum suscipit vehicula. Aliquam eget erat eget arcu faucibus
        aliquam.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nisi
        justo, convallis id imperdiet et, congue id ex. Donec eu dapibus mi.
        Suspendisse fermentum tempor ligula, sit amet finibus odio consectetur
        at. In id elit nec massa aliquet tempus eget quis erat. Fusce dolor
        tortor, suscipit vel rutrum eget, tincidunt nec odio. Ut ac pellentesque
        ligula. Morbi ac sapien vel libero tincidunt ultrices ut eu urna. Fusce
        varius nunc augue, a maximus sapien hendrerit sit amet. Maecenas lacus
        erat, imperdiet nec lacinia sit amet, scelerisque eu mauris. Donec a
        tincidunt odio. Suspendisse potenti. Praesent ornare dui ex, eu
        vulputate justo pulvinar non. Aenean nulla nulla, iaculis sagittis
        euismod nec, auctor sed orci. Duis tristique eu arcu vitae placerat.
        Vivamus dictum suscipit vehicula. Aliquam eget erat eget arcu faucibus
        aliquam.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nisi
        justo, convallis id imperdiet et, congue id ex. Donec eu dapibus mi.
        Suspendisse fermentum tempor ligula, sit amet finibus odio consectetur
        at. In id elit nec massa aliquet tempus eget quis erat. Fusce dolor
        tortor, suscipit vel rutrum eget, tincidunt nec odio. Ut ac pellentesque
        ligula. Morbi ac sapien vel libero tincidunt ultrices ut eu urna. Fusce
        varius nunc augue, a maximus sapien hendrerit sit amet. Maecenas lacus
        erat, imperdiet nec lacinia sit amet, scelerisque eu mauris. Donec a
        tincidunt odio. Suspendisse potenti. Praesent ornare dui ex, eu
        vulputate justo pulvinar non. Aenean nulla nulla, iaculis sagittis
        euismod nec, auctor sed orci. Duis tristique eu arcu vitae placerat.
        Vivamus dictum suscipit vehicula. Aliquam eget erat eget arcu faucibus
        aliquam.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nisi
        justo, convallis id imperdiet et, congue id ex. Donec eu dapibus mi.
        Suspendisse fermentum tempor ligula, sit amet finibus odio consectetur
        at. In id elit nec massa aliquet tempus eget quis erat. Fusce dolor
        tortor, suscipit vel rutrum eget, tincidunt nec odio. Ut ac pellentesque
        ligula. Morbi ac sapien vel libero tincidunt ultrices ut eu urna. Fusce
        varius nunc augue, a maximus sapien hendrerit sit amet. Maecenas lacus
        erat, imperdiet nec lacinia sit amet, scelerisque eu mauris. Donec a
        tincidunt odio. Suspendisse potenti. Praesent ornare dui ex, eu
        vulputate justo pulvinar non. Aenean nulla nulla, iaculis sagittis
        euismod nec, auctor sed orci. Duis tristique eu arcu vitae placerat.
        Vivamus dictum suscipit vehicula. Aliquam eget erat eget arcu faucibus
        aliquam.
    </p>
</div>

<div class="saveBtn">
    <span id="download" class="border">Get as PDF</span>
</div>

<div class="parallax bg1"
     ,
     style="
        mask-image: linear-gradient(
          to top,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 1),
          rgba(0, 0, 0, 0)
        );
        -webkit-mask-image: linear-gradient(
          to top,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 1),
          rgba(0, 0, 0, 0)
        );
      ">
    <div id="sectionLinks">
        <div class="links">
            <a href="https://twitter.com/">
                <img class="img-fluid d-block mx-auto"
                     src="~/resources/PikPng.com_twitter-png-logo_530147.png" />
            </a>
        </div>
        <div class="links">
            <a href="https://linkedin.com/">
                <img class="img-fluid d-block mx-auto"
                     src="~/resources/pngkey.com-linkedin-logo-png-black-4694554.png" />
            </a>
        </div>
    </div>
</div>

<div class="galleryBtn">
    <span id="galleryBtn" class="border">Gallery</span>
</div>

<div class="content" style="margin-bottom: 50px">
    <div class="galleryBtn" style="bottom: 120px">
        <span id="galleryBtnClose" class="border">Close</span>
    </div>
    <div id="gallery"></div>
</div>


<div id="postComment" class="content">
    <h3>Leave a comment</h3>
    @using (Html.BeginForm("PostComment", "Home", FormMethod.Post))
    {
        @Html.TextAreaFor(model => model.Name, new
        {
               @id = "nameInput",
               @class = "commentInputSection",
               @placeholder = "Enter name here",
        })

        @Html.TextAreaFor(model => model.Comment, new
        {
               @id = "commentInput",
               @class = "commentInputSection",
               @placeholder = "Enter comment here",

          })

        <div class="btn">
            <input id="sendcomment" type="submit" value="Comment" />
            <button id="clr" type="button">Cancel</button>
        </div>
    }
</div>


<div id="commentSection" class="content">
    <h3 id="commentSectionStart">Comments</h3>

    @foreach (var comment in ViewBag.Comments)
    {
        <div class="submittedComment">
            <h4>@comment.Name</h4>
            <hr />
            <h6>@comment.DateAdded</h6>
            <p>@comment.Text</p>
        </div>
    }

    <div class="submittedComment">
        <h4>name2</h4>
        <hr />
        <h6>Sat, 20 Nov 2020 19:46:17 GMT</h6>
        <p>Lorem ipsum dolor sit amett</p>
    </div>

    <div class="submittedComment">
        <h4>name1</h4>
        <hr />
        <h6>Fri, 19 Nov 2020 15:32:57 GMT</h6>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nisi
            justo, convallis id imperdiet et, congue id ex. Donec eu dapibus mi.
            Suspendisse fermentum tempor ligula,
        </p>
    </div>

</div>

<footer id="footer">
    <hr />
    <div class="container">
        <span class="text-muted">Stenli Vasilev F90843</span>
    </div>
</footer>

@Scripts.Render("~/Scripts/comments.js")
@Scripts.Render("~/bundles/gallery")
@Scripts.Render("~/bundles/pdf")